config.env
__pycache__/*
kars.db
kars.session
kars.session-journal
kars/__pycache__/*
kars/modules/__pycache__/*
kars/modules/sql_helper/__pycache__/*
.progress
/*.mp4
/*.jpg
/*.png
.vscode/*
bin/*
TG_BOT_TOKEN.session
*.mp3
*.mp4
*.webm
*.mkv
