config.env
__pycache__/*
rams.db
rams.session
rams.session-journal
rams/__pycache__/*
rams/modules/__pycache__/*
rams/modules/sql_helper/__pycache__/*
.progress
/*.mp4
/*.jpg
/*.png
.vscode/*
bin/*
TG_BOT_TOKEN.session
*.mp3
*.mp4
*.webm
*.mkv
